
@import './assets/fonts.scss';
@import './assets/default-custom.scss';

$mini-mobile: 800px;
$mini-tablet: 950px;

html {
    font-size: clamp(7px, 0.85vw, 10px);
}
body {
    font-family: "Roboto Mono", sans-serif;
    font-size: 4em;
    letter-spacing: -0.5px;
    user-select: none;
    background-color: rgb(250, 250, 250);
    -webkit-tap-highlight-color: transparent;
}

.pattern-bg {
    z-index: -100;
    position: fixed;
    inset: 0;
    pointer-events: none;

    background-image: url("./assets/medias/pattern-dot.png");
    background-repeat: repeat;
    background-position: center;

    --size: 3%;
    @media (max-width: calc($mini-tablet * 1.5)) {
        background-size: calc(var(--size,0) * 1.15);
    }
    @media (max-width: calc($mini-tablet * 1.3)) {
        background-size: calc(var(--size,0) * 1.35);
    }
    @media (max-width: $mini-tablet) {
        background-size: calc(var(--size,0) * 1.25);
        --speed-factor-apply : calc(var(--speed-factor) * 3);
    }
    @media (max-width: calc($mini-mobile + ($mini-tablet - $mini-mobile) / 2)) {
        background-size: calc(var(--size,0) * 1.75);
    }
    @media (max-width: $mini-mobile) {
        background-size: calc(var(--size,0) * 2);
        --speed-factor-apply : calc(var(--speed-factor) * 4.25);
    }
    @media (max-width: calc($mini-mobile / 1.5)) {
        background-size: calc(var(--size,0) * 2.5);
    }
    background-size: var(--size, 0%);
}


.calendar {
    z-index: 10;
    --size-months: 3.5em;
    // display: grid;
    // grid-template-columns: repeat(12, var(--size-months));
    // grid-template-rows: repeat(12, var(--size-months));
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5em 1.2em;
    @media (max-width: $mini-mobile) {
        gap: 1.8em 1.65em;
    }
    position: fixed;
    top: 0;
    right: 0;
    font-size: clamp(0.13em, 0.5vw, 0.2em);
    margin: 4rem;

    > * {
        flex-shrink: 0;
        width: var(--size-months);
        height: var(--size-months);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0.65em;
        overflow: hidden;
        pointer-events: all;
        outline: 2px solid transparent;
        transition: outline-color 0.4s ease;
        cursor: crosshair;

        &:hover, &:hover ~ * {
            outline-color: rgba(0, 0, 0, 0.25);
            transition: outline-color 0.1s ease;
        }

        &.active {
            background-color: #000;
            border-radius: 10em;
        }


        > * {
            position: relative;
            width: 100%;
            height: 2px;
            @media (max-width: $mini-mobile) {
                height: 1.5px;
            }
            background-color: #000;
        }
    }
}


.info-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    text-align: right;

    .btn {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 1em;
        height: 1em;
        cursor: pointer;

        .line1, .line2 {
            position: absolute;
            width: 100%;
            height: 3px;
            @media (max-width: $mini-tablet) {
                height: 2px;
            }
            border-radius: 9em;
            background-color: #000;
            transition: transform 0.5s ease;
        }
        .line1 {
            transform: rotateZ(180deg);
        }
        .line2 {
            transform: rotateZ(-90deg);
        }
    }

    .content {
        font-size: clamp(0.365em, 1vw, 0.4em);
        font-weight: 600;
        margin: 0 1.5em;
        transform: translateX(1.5em);
        opacity: 0;
        transition: opacity 0.3s ease,
                    transform 0.75s ease;
    }

    &.opened {
        .btn {
            .line1, .line2 {
                transform: rotateZ(0deg);
                transition: transform 0.3s ease;
            }
        }

        .content {
            transform: translateY(0);
            opacity: 1;
            transition: opacity 0.4s ease,
                        transform 0.5s ease;
        }
    }
}


main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 7.5vw 10vw;
    box-sizing: border-box;

    @media (max-width: $mini-mobile) {
        padding: 12.5vh 11vw 7.5vh;
    }

    .notice-btn {
        flex-shrink: 0;
        position: relative;
        width: 1em;
        height: 1em;
        margin-bottom: 0.35em;
        background-color: transparent;
        outline: 3px solid #000;
        border-radius: 1em;
        transform: translateX(-75%);
        cursor: pointer;
        transition: outline-width 0.3s ease;

        &:active {
            outline-width: 2px;
            transition: outline-width 0s linear;
        }
        &.active {
            outline-width: 6px;
            transition: outline-width 0.075s ease;

            &:active {
                outline-width: 8px;
                transition: outline-width 0s linear;
            }
        }
    }
    .notice-container {
        position: relative;
        pointer-events: none;
        font-size: 0.6em;
        margin-top: 2em;

        > * {
            --delay-add: 0;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            margin-top: 0.25em;

            opacity: 0;
            transform: translateY(1.5em);
            transition: opacity 0.3s ease,
                        transform 0.75s ease;
            transition-delay: 0s;

            &:not(:last-child) {
                margin-right: 1.25em;
            }

            svg {
                width: 3em;
                margin-right: 0.35em;
                fill: none;
                stroke: #000;
                stroke-width: 25;
                overflow: visible;
            }

            span {
                flex-shrink: 0;
                font-size: 0.7em;
                font-weight: 475;
            }
        }

        &.opened {

            > * {
                transform: translateY(0);
                opacity: 1;
                transition: opacity 0.4s ease,
                            transform 0.4s ease;
                transition-delay: calc(var(--delay-add) * 1s);
            }
        }
    }

    .secret-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;

        @media (max-width: $mini-tablet) {
            flex-direction: column;
            justify-content: center;
            align-items: initial;
        }

        > * {
            fill: none;
            stroke: #000;

            &:first-child {
                stroke-width: 7;
                max-width: clamp(8em, 22vw, 10em);
                max-height: clamp(8em, 22vw, 10em);
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                overflow: visible;
            }
            &:last-child {
                stroke-width: 6;
                flex-shrink: 1;

                @media (min-width: ($mini-tablet + 1)) {
                    margin-left: 2em;
                }
                @media (max-width: $mini-tablet) {
                    stroke-width: 14;
                }
            }
        }

    }
}